.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 712px;

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: 'Century Gothic';
      font-size: 48px;
      font-weight: 400;
      line-height: 58px;
    }

    &__move {
      display: flex;
      align-items: center;
      height: 100%;
      font-family: 'Century Gothic';
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    gap: 40px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 490px;
      height: 288px;
      border-radius: 30px;
      position: relative;
      overflow: hidden;

      &__content {
        z-index: 3;
        position: relative;
        font-family: 'Hakio';
        font-size: 76px;
        line-height: 114px;
        font-weight: 400;
        color: #F0D6C1;
      }

      &:hover {
        cursor: pointer;
      }

      &::before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        background-image: inherit;
        z-index: 1;
        background-size: cover;
        filter: blur(2px);
      }

      &::after {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 2;
      }
    }
  }
}
