<div class="categories">
  <div class="categories__control">
    <div class="categories__control__title">
      <BonsaiIcon [color]="getIconColor()" size="60"/>
      Категорії
    </div>
    <div class="categories__control__move" (click)="goToReading()">Переглянути всі -></div>
  </div>
  <div class="categories__items">
    <div class="categories__items__item" *ngFor="let item of $categories" [style.background-image]="item.image" (click)="goToReadingParams(item.title.toLowerCase())">
      <div class="categories__items__item__content">
        {{ item.title }}
      </div>
    </div>
  </div>
</div>
