.home{
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__row{
    display: flex;
    justify-content: space-between;
  }

  &__item-holder{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 330px;
    padding: 10px 40px 20px 40px;
    background: var(--card-color);
    border-radius: 30px;
    box-shadow: 0px 4px 20px 0px #00000040;

    &__popular{
      height: 550px;
    }

    &__genre{
      height: 380px;
    }

    &__title{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      font-weight: 400;
      font-size: 32px;
      line-height: 40px;
      color: #D9D9D9;
    }

    &__items{
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 100%;
      width: 100%;
    }
  }

  &__slider{
    width: 1090px;
    height: 580px;
    border-radius: 30px;
    background: lightseagreen;
    backdrop-filter: blur(10px)
  }
}
