.reading-room {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
  }

  &__holder {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &__items {
      display: flex;
      flex-direction: column;
      background: var(--manga-color);
      border-radius: 30px;
      padding: 40px 120px;
      gap: 40px;
      box-shadow: 0px 4px 20px 0px #00000040;

      &__select {
        display: flex;
        align-items: center;
        width: 260px;
        height: 50px;
        padding: 8px;
        border-radius: 10px;
        background: transparent;
        border: 3px solid #D9D9D9;
        outline: none;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;

        &:hover {
          cursor: pointer;
        }

      }

      &__manga {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
        gap: 60px;
        max-width: 950px;
      }

      &__pagination {
        display: flex;
        justify-content: center;
      }
    }

    &__filters {
      display: flex;
      flex-direction: column;
      max-width: 460px;
      background: var(--manga-color);
      border-radius: 30px;
      padding: 20px;
      box-shadow: 0px 4px 20px 0px #00000040;
      gap: 10px;

      &__holder {

        &__title {
          display: flex;
          justify-content: left;
          align-items: center;
          font-size: 32px;
          font-weight: 400;
          line-height: 39px;
          color: #D9D9D9;
          gap: 10px;
        }

        &__selects {
          display: flex;
          flex-wrap: wrap;
          column-gap: 60px;
          row-gap: 10px;
          padding: 10px;
          color: #D9D9D9;

          &__change{
            column-gap: 20px;
            row-gap: 0;
          }

          &__select-holder {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 32px;
            font-weight: 400;
            line-height: 39px;
            text-transform: capitalize;

            &__change{
              gap: 10px;
              font-size: 24px;
              line-height: 29px;
            }

            &__select {
              width: 30px;
              height: 30px;

              &__change{
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }

      &__select-holder {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__title {
          display: flex;
          justify-content: left;
          align-items: center;
          font-size: 32px;
          font-weight: 400;
          line-height: 39px;
          color: #D9D9D9;
          gap: 10px;
        }

        &__select {
          display: flex;
          align-items: center;
          width: 414px;
          min-height: 70px;
          padding: 8px;
          border-radius: 10px;
          background: transparent;
          border: 3px solid #D9D9D9;
          outline: none;
          font-size: 24px;
          font-weight: 400;
          line-height: 29px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
