<div class="slider">

  <div class="slider__slide" *ngFor="let slide of slides; let i = index"
       [ngClass]="{'slider__slide__active': i === currentIndex}">
    <div class="slider__slide__content">
      <div class="slider__slide__content__items">
        <div class="slider__slide__content__items__genres">
          <ng-container *ngFor="let genre of slide.genres.split(', ') | slice:0:4">
            <div class="slider__slide__content__items__genres__genre"
                 (click)="goToReadingParams(genre.toLowerCase())">{{ genre }}
            </div>
          </ng-container>
        </div>
        <div class="slider__slide__content__items__title">
          {{ slide.title }}
        </div>
        <div class="slider__slide__content__items__description">
          {{ slide.description }}
        </div>
        <div class="slider__slide__content__items__read" (click)="goToManga(slide.id)">
          <ArrowIcon [color]="'#420002'"/>
          Читати
        </div>
      </div>
      <div class="slider__slide__content__image">

      </div>
    </div>

  </div>

  <div class="slider__slide__buttons">
    <button class="slider__slide__buttons__button" *ngFor="let slide of slides; let i = index"
            (click)="moveToSlide(i)"
            [ngClass]="{'slider__slide__buttons__button__active': i === currentIndex}"></button>
  </div>
</div>
