<div class="header__switch">
  <div [class]="returnClass( 'home')" (click)="goTo('')">Головна</div>
  <div [class]="returnClass( 'readingRoom')" (click)="goTo('reading-room')">Читальня
  </div>
  <div [class]="returnClass('aboutUs')" (click)="goTo( 'about-us')">Про нас</div>
</div>
<Logo [$size]="'120px'" [$font]="'20px'" (click)="goTo( '')" class="header__logo"/>
<div class="header__tools">
  <div class="header__tools__search">
  <span class="header__tools__search__icon">
    <DandruffIcon/>
  </span>
    <input class="header__tools__search__input"
           [(ngModel)]="searchTxt"
           (input)="handleSearchChange($event)"
           placeholder="Пошук..."/>
  </div>
  <div class="header__tools__items">
    <span (mouseleave)="closeModal()">
      <SenseiIcon class="header__tools__items__icon" (click)="goTo('/login')" (mouseenter)="openModal()"/>
      <div class="header__tools__items__icon__hover" *ngIf="open" (mouseenter)="openModal()"
           (mouseleave)="closeModal()">
        <div class="header__tools__items__icon__hover__account">
          <div class="header__tools__items__icon__hover__account__icon">
            <SenseiIcon [$size]="'40px'"/>
          </div>
          <div class="header__tools__items__icon__hover__account__attributes">
            <div class="header__tools__items__icon__hover__account__attributes__role">
              користувач
            </div>
            <div class="header__tools__items__icon__hover__account__attributes__name">
              імя 124
            </div>
          </div>
        </div>

        <div class="header__tools__items__icon__hover__line"></div>

        <div class="header__tools__items__icon__hover__leave">
          <DoorsIcon/> Вихід
        </div>
      </div>
    </span>
    <MoonIcon class="header__tools__items__icon" (click)="toggleTheme()" *ngIf="themeService.getTheme() === 'light'"/>
    <SunIcon class="header__tools__items__icon" (click)="toggleTheme()" *ngIf="themeService.getTheme() === 'dark'"/>
  </div>
</div>
