.header {
  &__switch {
    display: flex;
    justify-content: space-between;
    width: 380px;

    &__button {
      height: 30px;
      font-size: 24px;

      &:hover {
        cursor: pointer;
      }

      &__selected {
        border-bottom: 2px solid #E1C3AB;

        &:hover {
          cursor: default;
        }
      }
    }
  }

  &__logo {
    width: 120px;
    height: 140px;

    &:hover {
      cursor: pointer;
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 20px;

    &__search {
      display: flex;
      align-items: center;
      position: relative;
      &__icon{
        position: absolute;
        left: 10px;
      }
      &__input {
        width: 220px;
        height: 20px;
        background: #AF9C8D;
        border-radius: 30px;
        border: none;
        outline: none;
        padding: 20px;
        padding-left: 60px;
        font-size: 20px;
        color: #420002;

        &:focus {
          border: none;
        }

        &::placeholder{
          color: #420002;
        }
      }
    }
  }
}
