<div class="footer__title">SmakNovels</div>
<div class="footer__details">
  <div class="footer__details__about">
    <div class="footer__details__about__title">SmakNovels</div>
    <div class="footer__details__about__subtitle">Тут слід розповісти про компанію пишу багато тексту просто щоб потести
      потім видалиться щоб відповідати дизайну але поки так, ось так
    </div>
  </div>
  <div class="footer__details__logo">
    <LogoIcon/>
  </div>
</div>
<div class="footer__creators">
  Created By Mykola, Emiliia, Yuliana & Animeden | All Rights Reserved
</div>
